@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.form-container {
  position: absolute;
  top: 45%;
  right: 10rem;
  transform: translateY(-50%); /* Centra verticalmente el contenedor */
  padding: 20px;
  background-color: white;
  z-index: 999;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 350px;
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente uno sobre otro */
  align-items: center; /* Centra los elementos horizontalmente */
}
/* Estilo para el header */
header {
  background-color: #004173;
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

html, body {
  margin: 0;
  padding: 0;
}

/* Estilo para el logo en el header */
.logo img {
  max-width: 300px;
  height: auto;
}

/* Estilo para la barra de navegación en el header */
nav ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

/* Estilo para el elemento con el identificador #toggle */
/* header nav #toggle {
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
}*/

header nav #toggle {
  display: none;
}


nav ul.menu li {
  background-color: #fff;
  display: inline-block;
  margin-right: 20px;
  border-radius: 20px;
}

nav ul.menu li a {
  position: relative;
  text-decoration: none;
  color: #004173;
  font-weight: 500;
  font-size: 1.2em;
  margin-right: 20px;
}

.menu .Icons{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 15px;
}

nav ul.menu li a:hover {
  color:#ffc107;
}

.background-image-container img {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}

@media (max-width: 700px) {
  header {

    padding: 5px 20px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    left: 30px;
    background-color: #004173;
    padding: 10px 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .menu.active {
    max-height: 1000px;  /* Muestra el menú desplegable cuando la clase "active" está presente */
  }


  .menu li {
    margin-right: 0; /* Elimina el margen derecho en pantallas pequeñas */
    margin-bottom: 10px; /* Añade espacio entre elementos del menú en pantallas pequeñas */
  }

  .menu li a {
    color: #fff;
  }

  nav ul.menu li {
    margin-right: 5rem;
    margin-left: 1rem;
  }


  header nav #toggle {
    display: block;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 50px;
    cursor: pointer;
  }


  .logo img {
    /* Estilos específicos para el logo en pantallas más pequeñas */
    max-width: 200px; /* Redefine el ancho máximo del logo */
  }

  nav ul.menu li {
    /* Estilos específicos para los elementos del menú en pantallas más pequeñas */
    margin-right: 10px; /* Por ejemplo, reduce el espacio entre los elementos del menú */
  }

  /* Puedes seguir agregando más estilos específicos para pantallas pequeñas aquí */
}
