<div id="text_form">
  <h2>Formulario</h2>
  <p>Formulario de registro de vehículos</p>
</div>
<form [formGroup]="form" class="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input
      type="text"
      formControlName="placa"
      placeholder="placa"
      maxlength="6"
    />
    <div *ngIf="form.get('placa')?.hasError('placaInvalida')">
      <p class="text-danger">
        La placa es inválida. Debe tener el formato correcto (por ejemplo,
        ABC123).
      </p>
    </div>
  </div>
  <hr />
  <div class="form-group">
    <input type="email" formControlName="email" placeholder="Correo" />
  </div>
  <hr />
  <div class="form-group">
    <input type="text" formControlName="name" placeholder="Nombre" />
  </div>
  <hr />
  <div class="form-group">
    <input type="text" formControlName="last_name" placeholder="Apellido" />
  </div>
  <hr />
  <div class="form-group">
    <input type="text" formControlName="phone" placeholder="Teléfono" />
  </div>
  <hr />
  <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
    Enviar
  </button>
</form>
